/* CSS Stylesheet for the Agile Project */



h1 {
    font-family: sans-serif;
    color: white;
    font-size: 3vw;
}

h2 {
    font-family: sans-serif;
    color: #34516C;
    font-size: 3vw;
}

p {
    font-family: sans-serif;
    font-size: 1.5vw;
}

a {
    color: #007FB0;
    font-family: sans-serif;
    font-size: 2vw;
    text-decoration: none;
}

body {
    margin: 0%;
    padding: 0%;
    position: relative;
}

ul {
    list-style: none;
    text-align: right;
}

li {
    display:inline-block;
    margin-right: 0%;
    font-family: sans-serif;
}



/*classes*/



.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #BE1622; 
    position: sticky;

    /* flex-grow: 1; */
    flex-direction: column;
    width: auto;
    height: 1%;

    margin: 0%;
}

.column {
    flex-grow: 1;
    width: auto;
    height: 10%;

    margin: 0%;
    padding: 0%;

    /*align-self: center;*/

}
.column_box {

    display: flex;

    width: auto;
    height: auto;

    margin-left: 0%;
    padding: 1%;
    
    flex-direction: row;
}
.column_footer {
    
    width: %;
    height: auto;

    margin: 0%;
    padding: 1%;

    

}

.body {
    display: flex;
    text-align: center;

    margin: 5%;
    padding: auto;

    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.footer {
    background-color: #34516C;
    color: white;
    font-family: sans-serif;

    display: flex;
    flex-wrap: wrap;

    padding: auto;
    margin: 0%;

    position: sticky;
}

.menu {

    display: flex;

    padding-left:15% ;
    padding-top:10%;
    margin: 0%;

}

.contact_box {
    align-self: left;
}



/* IDs */

#filler_box {
    display: flex;
    
    padding-right: 29%;
    margin: 5%;
}

#location_box {
    text-align: right;
}